<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>界面简单粗暴但功能强大的转谱工具</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
</head>
<body>

<form id="convert_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label>
            谱面文件：(mc, mcz, osu, osz, zip)<br>
            <input type="file" name="map" id="convert_file"
                   accept=".mc, .mcz, .zip, .osu, .osz"/><br><br>
        </label>
        <label>
            OD：<br>
            <input type="number" name="od" max="10" min="0" value="8"/>
            <br><br>
        </label>
        <label>
            HP：<br>
            <input type="number" name="hp" max="10" min="0" value="7"/>
            <br><br>
        </label>
        <label>
            vol：<br>
            <input type="number" name="vol" max="100" min="0" value="70"/>
            <br><br>
        </label>
        <label>
            倍速：<br>
            <input type="number" name="vol" max="2" min="0.5" value="1.0"/>
            <br><br>
        </label>
        <label>
            <input type="checkbox" name="sv" checked="checked"/>
            保留变速<br>
        </label>
    </div>

</form>
<button id="convert_button">一键转谱</button>
<script>
  var uploading = false;
  var filename = null;
  var id = -1;

  function upload() {
    $.ajax({
      url: "/api/upload",
      type: 'POST',
      data: new FormData($('#convert_form')[0]),
      processData: false,
      contentType: false,
      dataType: "json",
      beforeSend: function () {
        $("#convert_button").text("转换中……");
        uploading = true;
      },
      success: function (data) {
        if (data.code === 1) {
          id = data.msg;
          filename = document.getElementById("convert_file").files[0].name;
          console.log(filename);
          download();
        } else {
          alert(data.msg);
        }
        $("#convert_button").text("一键转谱");
        uploading = false;
      }
    });
  }

  function download() {
    var voiceUrl = "/api/download?id=" + id;
    var iframe = document.createElement("iframe");
    document.body.appendChild(iframe);
    iframe.src = voiceUrl;
    iframe.style.display = "none";
  }

  $("#convert_button").click(function () {
    if (uploading) {
      alert("正在处理，请稍后");
      return;
    }
    upload()
  });
</script>
</body>
</html>